<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="html5, curso">
<meta name="author" content="Kleyber Mantilla">
<meta name="description" content="Curso Fullstack">
<title>Ejercicio 1</title>
<link rel="stylesheet" href="../assets/styles/style.css" />
<script src="../assets/js/main.js"></script>
</head>
<body>
    <h1>Titulos</h1>
    <h1>Cabecera 1</h1>
    <h2>Cabecera 2</h2>
    <h3>Cabecera 3</h3>
    <h4>Cabecera 4</h4>
    <h5>Cabecera 5</h5>
    <h6>Cabecera 6</h6>

    <h1>Parrafos</h1>
    <p>Esto es un párrafo</p>
    <p>Esto es otro párrafo</p>

    <h1>Salto de Pagina</h1>
    Hola
    </br>
    Adiós

    <h1>Separador</h1>
    Hola
    <hr></hr>
    Adiós

    <h1>Botones</h1>
    <button>Pulsa</button>

    <h1>Texto preformateado</h1>
    <pre>
        body 
        {
        color: red;
        }
        
        a 
        {
        color:green;
        }
    </pre>

    <h1>Codigo preformateado</h1>
    <pre>
        <code>
        x = 5;
        y = 6;
        z = x + y;        
        </code>
    </pre>
</body>
</html>