:root {
    --main: #1B4965;
    --second: #CAE9FF;
    --terciary: #CAE9FF;
    --white: #fff;
    --black: #000;

  }

  


h1, h2, p, a, figcaption
{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

h1
{
    margin-top: 0px;
}
.tittle
{
    margin-bottom: -5px;
}
.container
{
    display: flex;
    background-color: var(--white);
    padding: 5px;
}

.thumbnail
{
    display: flex;
}

.thumbnail img
{
    filter: brightness(0.7);
    object-fit: fill;
}

.barra
{
    background-color: var(--main);
    height: 60px;
    display: flex;
}

.logo
{
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav
{
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a
{
    text-decoration: none;
    color: var(--second);
    margin-right: 10px;
    padding: 5px;
}

nav a:last-of-type
{
    border: var(--white) solid 1px;
}

nav a:hover
{
    text-decoration: none;
    color: var(--white);
}

body
{
    margin: 0px;
}

main
{
    padding: 15px;
    width: 75%;
    height: auto;
    float: left;
    background-color: var(--second);
    margin: 0px 5px 0px 5px;
}

article
{
    background-color: var(--white);
    padding-right: 5px;
    margin: 10px;
    display: flex;
    height: 200px;
    overflow: hidden;
}

article .content
{
    margin-left: 10px;
    width: 70%;
}

aside
{
    padding: 15px;
    width: 25%;
    float: right;
    height: auto;
    background-color: var(--second);
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

p
{
    width: 96%;
    height: 65%;
    overflow: hidden;
    color: var(--black);
}

aside a
{
    text-decoration: none;
    color: var(--black);
}

aside a:hover
{
    text-decoration: none;
    color: var(--white);
}

footer
{
    padding: 5px;
    padding-top: 15px;
    height: 100%;
    background-color: var(--main);
    margin-bottom: 0px;
    color: var(--white);
}

footer a
{
    text-decoration: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

figure img, aside video
{
    width: -webkit-fill-available;
}